
.navbar-light .navbar-nav .nav-link.active-link {
  color: var(--hover-link-color);
  font-weight: bold;
}
.main-title {
  text-decoration: none;
  font-weight: bold;
  color: var(--hover-link-color);
}

.bg-navbar {
  background-color: var(--bg-dark-color);
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--hover-link-color-2);
}
