<div class="container-fluid footer">
  <div class="row">
    <div class="col-lg-6">
      <h1>Projeto Restaurante</h1>
      <p>
        Desenvolvido por
        <a href="https://github.com/jhops10" target="_blank" class="nome-dev"
          >João Paulo</a
        >
      </p>
    </div>
    <div class="col-lg-4">
      <a routerLink="">Home</a>
      <a routerLink="menu">Menu</a>
      <a routerLink="about">Sobre</a>
      <a routerLink="contact">Contato</a>
    </div>
    <div class="col-lg-2">
      <a href="#" target="_blank" class="bi bi-instagram icon"></a>
      <a href="#" target="_blank" class="bi bi-linkedin icon"></a>
      <a href="#" target="_blank" class="bi bi-github icon"></a>
    </div>
  </div>
</div>
