<div class="container mt-5 mb-5">
  <a routerLink="../menu" class="btn btn-sm btn-warning mb-2 bi bi-arrow-left">
    Menu</a
  >
  <h1 class="text-center mb-5">Contato</h1>
  <p class="text-center">
    <strong>Endereço:</strong> Rua das Flores, 1034 <br />
    <strong>Telefone:</strong> (XX) XXXX-XXXX
  </p>

  <h2 class="text-left mb-2 mt-5">Mensagem Personalizada</h2>
  <form action="">
    <div class="row">
      <div class="col-lg-6 mt-2">
        <input
          type="text"
          class="form-control mt-2"
          placeholder="Digite seu nome completo"
        />
        <input
          type="text"
          class="form-control mt-2"
          placeholder="Digite o seu telefone"
        />
        <input
          type="text"
          class="form-control mt-2"
          placeholder="Digite o seu e-mail"
        />
        <textarea
          class="form-control mt-2"
          placeholder="Digite a sua mensagem"
        ></textarea>
        <button class="btn btn-md btn-success mt-3">Enviar Mensagem</button>
      </div>
    </div>
  </form>
</div>
