<div class="container mt-5 mb-5">
  <a routerLink="../menu" class="btn btn-sm btn-warning mb-2 bi bi-arrow-left">
    Menu</a
  >
  <h1 class="text-center mb-5">Sobre Nós</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam nisi,
    veritatis amet optio iusto maiores, quis voluptate dolorem accusantium
    dicta, eos possimus aliquam aliquid. Similique iste voluptatibus labore
    iusto aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Odio quod consectetur sint totam, quaerat eos delectus excepturi minus non
    temporibus mollitia, suscipit at nihil aspernatur obcaecati, nobis ab?
    Dicta, magnam?
  </p>
</div>
