<div class="container mt-5 mb-5">
  <p class="text-left titulo-steps">{{ menuData[0].foodName }}</p>
  <div class="row">
    <div class="col-lg-6" *ngIf="menuData">
      <a
        routerLink="../../menu"
        class="btn btn-sm btn-warning mb-2 bi bi-arrow-left"
      >
        Voltar</a
      >
      <img src="{{ menuData[0].foodImg }}" width="100%" />
      <h1>{{ menuData[0].foodName }}</h1>
      <p>{{ menuData[0].foodDetails }}</p>
      <p>{{ menuData[0].foodPrice | currency : "BRL" }}</p>
    </div>
    <div class="col-lg-6">
      <p class="text-left">Detalhes do Cliente</p>
      <form action="">
        <input
          type="text"
          class="form-control mt-2"
          placeholder="Digite seu nome completo"
        />
        <input
          type="text"
          class="form-control mt-2"
          placeholder="Digite o seu telefone"
        />
        <textarea
          class="form-control mt-2"
          placeholder="Digite o endereço de entrega"
        ></textarea>
        <button class="btn btn-md btn-success mt-3">Confirmar Pedido</button>
      </form>
    </div>
  </div>
</div>
