<div class="banner">
  <div class="content">
    <h1>
      Projeto Restaurante <br />
      Estudo Angular
    </h1>
    <a routerLink="menu" class="bi bi-arrow-right"> FAÇA O SEU PEDIDO</a>
  </div>
</div>

<div class="container mt-5 mb-4">
  <p class="text-center titulo-steps">
    Jornada do Pedido: Da Escolha à Entrega
  </p>
  <div class="row">
    <div class="col-lg-4">
      <div class="box">
        <h2>1</h2>
        <p>Selecione o Prato</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box">
        <h2>2</h2>
        <p>Preencha os Detalhes</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box">
        <h2>3</h2>
        <p>Entrega do Pedido em Minutos</p>
      </div>
    </div>
  </div>
</div>
