

* {
  padding: 0;
  margin: 0;
}

:root {
  --text-color: bisque;
  --bg-dark-color: rgb(66, 60, 60);
  --hover-link-color: yellow;
  --hover-link-color-2: rgb(173, 173, 119);


}

body {
  height: 100vh;
  font-family: arial Arial, Helvetica, sans-serif;
}
