

* {
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #A6826D;
  --text-color-destaque: #D9B29C;
  --bg-dark-color: #261C14;
  --hover-link-color: #D9AE30;
  --hover-link-color-2: #D9B29C;


}

body {
  height: 100vh;
  font-family: arial Arial, Helvetica, sans-serif;
}
